html,body{
    margin:0;
    height:100%;
}

#nav{
    display:flex;
    justify-content:flex-end;
    margin-top:15px;
}

#nav a{
    margin-right:20px;
}

#nav a.topimage{
    width: 20px;
    height:20px;
    background:red;
    border-radius:50%;
}

#middle{
   flex-grow:1;
   flex-direction:column;
    display:flex;
    justify-content:center;
    align-items:center;
}
#logo{
    text-align:center;
}
#searchbarcontainer{
    text-align:center;
    margin-top:20px;
    position:relative;
}
#searchbar{
    padding-top:10px;
    padding-bottom:10px;
    outline:0;
    width:500px;
    padding-right:30px;
    padding-left:30px;
    border-radius:15px;
    border:1px solid #c4c4c4;
}

#buttons{
    margin-top:10px;
    display:flex;
    justify-content:center;
}
.button{
    margin-left:10px;
    margin=right:10px;
    padding:5px 10px;
    cursor:pointer;
    background: rgb(231,231,231);
    border-radius:3px;
    border:2px solid transparent;
}

#links{
    text-align:center;
    margin-top:20px;
}
body{
    display:flex;
    flex-direction:column;
}

#footer-content{
     background:#eee;
    border-top:1px solid black;
}
a{
    text-decoration:none;

}
a:hover{
    text-decoration:underline;
}
#searchbar:hover{
    box-shadow:0 0 10px 2px rgb(233,233,233);
}
#search,#voice{
    position:absolute;
    top 0;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#search{
left:10px;
}
#voice{
    right:10px;
}

.button:hover{
    box-shadow:0 0 2px 1px black;
    border:2px solid #eee;
}